* {
    font-family: roboto;
    color: white;
}


body {
    background-color: #1a1a1d;
}

div:not(.scroller):not(.box):not(.bar):not(.hamburger):not(.firstSection):not(.buttons):not(.button):not(.outro) {
    margin-bottom: 500px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 6rem;
    
}

.outro {
    margin-bottom: 0;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15rem;
}

.button {
    width: 100px;
    border-radius: 2rem;
    border-color: white;
    border-width: thin;
    border-style: solid;
    text-align: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0px;
    height: 20px;
    overflow: hidden;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    overflow: hidden;
}


.firstSection {
    height: 50%;
    padding-top: 20%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    margin-bottom: 900px;


    
}
ul {
    margin: 0;
}
.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 2000px;
    flex-wrap: wrap;
    gap: 0.70rem;
    
}

#projectsh2 {
    flex-basis: 100%;
    padding-bottom: 1rem;
}


.box {
    width: 300px;
    border-radius: 2rem;
    border-color: white;
    border-width: thin;
    border-style: solid;
    text-align: center;
    padding-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0px;

}


ul {
    list-style: none;
}

.skills {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
}

#myarrow {
    height: 15px;
}




.projects > .scroller {
    flex-basis: 100%;
}

nav > ul {
    list-style-type: none;
    padding: 1rem 0rem 0rem 0rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: center;
    gap: 2rem;
    max-width: 1600px;
}

nav > ul > li > a {
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: red;
}

.nav {
    transition: all 0.3s ease-in-out;
}

.hamburger {
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: none;
    justify-content: right;
}


.bar {
    height: 2px;
    width: 27px;
    background: white;
    margin: 5px 0;
    opacity: 0.8;
}
.nav--open {
    transform: translate(0) !important;
}
@media (max-width: 650px) {
    nav  {
        top: 60px;
        left: 0;
        width: 100%;
        transform: translateX(-100%);
    }

    nav > ul {
        flex-direction: column;
        align-items: center;
    }

    .hamburger {
        display: block;

    }
  
  
    
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}